body{
	
	background-color:#FFF;
	font-family:Arial;
}

h1{font-family:Ubuntu;}
h2{font-family:Ubuntu;}
h3{font-family:Ubuntu;}
h4{font-family:Ubuntu;}
h5{font-family:Ubuntu;}

/*Side Bar Content Sections*/
#sideBar{
	float:left;
	background-color:rgb(0,167,217);
	height:200%;
	padding:10px;
	margin-right:100px;
	margin-left:10px;
	text-align:center;
	color:white;
	width:20%;
}
#sideBar h1{
	text-decoration:underline;
	font-family:'Ubuntu';
}

#sidebar a{
	color:white;
	text-decoration:none;
}
.displayPic{
	width:55%;
	padding-top:20px;
	
}
#socialMedia{
	border-top:5px solid White;
	border-bottom:5px solid White;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	font-size:23px;
}

#socialMedia img{
	width:15%;	
}
#references{
	border-bottom:5px solid White;
	margin-bottom:20px;
}


/*Main Content Sections */

#mainContent{
	width:75%;
	margin-left:25%;
}

#personalStatement{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-bottom:10px;
	margin-bottom:35px;
	
}
#workExperience{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-bottom:10px;
	margin-bottom:35px;
}
.organisationWE{
	margin-bottom:-20px;
}
.organisationEdu{
	margin-bottom:2px;
}
.date{
	font-size:16px;
}
.current{
	color:#000;
	background-color:#FFF;
	padding:2px;
	padding-right:4px;
	border:1px solid rgb(0,167,217);
	
}
#education{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-bottom:10px;
	margin-bottom:35px;
}
#skills{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-bottom:10px;
	margin-bottom:35px;
}