


/*Side Bar Content Sections*/
#mobileVer > #sideBar{
	background-color:rgb(0,167,217);
	margin-left:-10px;
	text-align:center;
	color:white;
	width:100%;
	padding-bottom:35px;
	margin-bottom:35px;
	font-size:2vw;
	display:block;
}
#mobileVer > #sideBar h1{
	text-decoration:underline;
	font-family:'Ubuntu';
}

#mobileVer .link{
	text-decoration:none;
	color:white;
	
}
}
.displayPicMOB{
	padding-top:20px;
	
}
#mobileVer #socialMedia{
	border-top:5px solid White;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;

}

#mobileVer #socialMedia img{
	width:5%	
}
#mobileVer #references{
	border-top:5px solid White;
	border-bottom:5px solid White;
	padding-bottom:10px;
	margin-bottom:25px;

}


/*Main Content Sections */

#mobileVer #mainContent{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	padding:10%;
	

}

#mobileVer #personalStatement{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-left:30px;
	padding-bottom:10px;
	margin-top:115%;
	margin-bottom:35px;
	box-shadow:5px 10px 50px #aaa;
	height:10%;
	
}
#mobileVer #workExperience{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-left:30px;
	padding-bottom:10px;
	margin-bottom:35px;
	box-shadow:5px 10px 50px #aaa;
}
 #mobileVer #workExperience a{
	color:black;
	text-decoration:none;
	
}
#mobileVer .organisationWE{
	margin-bottom:-20px;
}
#mobileVer .organisationEdu{
	margin-bottom:2px;
}
#mobileVer .date{
	font-size:16px;
}
#mobileVer .current{
	color:#000;
	background-color:#FFF;
	padding:2px;
	padding-right:4px;
	border:1px solid rgb(0,167,217);
	
}
#mobileVer #education{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-left:30px;
	padding-bottom:10px;
	margin-bottom:35px;
	box-shadow:5px 10px 50px #aaa;
}
#mobileVer #skills{
	background-color:rgba(0,167,217,0.3);
	padding-top:5px;
	padding-right:25px;
	padding-left:30px;
	padding-bottom:10px;
	margin-bottom:35px;
	box-shadow:5px 10px 50px #aaaaaa;
	height:90vh;
}
#mobileVer .skillLogo{
	float:middle;
	width:9vh;
	

}

#mobileVer .IndividualSkill{
	float:left;
	text-align:center;
	padding-top:5px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:40px;
	width:15vw;
	height:12vh;
	font-size:2vh;
}